name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always


jobs:
  build:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -C target-cpu=native
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose --all-features
    - name: Run tests
      run: cargo test --verbose --all-features

  test-fallbacks:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -C target-cpu=x86-64
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --verbose --features serde
      - name: Run tests
        run: cargo test --verbose --features serde

  docs:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -C target-cpu=x86-64
      RUSTDOCFLAGS: -C target-cpu=x86-64
    steps:
      - uses: actions/checkout@v4
      - name: Docs
        run: cargo doc --verbose --all-features

  build-macos-arm64:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --verbose --all-features
      - name: Run tests
        run: cargo test --verbose --all-features